[2014-11-01 05:44] frasertweedale opened #3 "implement "non-empty array" restrictions"
Several places in the JOSE specs require non-empty arrays, but these requirements are
not currently encapsulated by the types or checked by the parser.

These should be implemented using `Data.List.NonEmpty.NonEmpty` from the `semigroups` package.  Orphan `FromJSON` and `ToJSON` instances will be needed for this type, too.

[2014-11-27 00:46] #3 closed, assigned to nobody

[2015-03-05 17:04] peti opened #4 "jose-0.3.38.0 can't compile its own test suite"
Citing from http://hydra.cryp.to/build/606676/nixlog/1/raw:

    Preprocessing test suite 'tests' for jose-0.3.38.0...

    test/Test.hs:17:8:
        Could not find module ‘JWK’
        Use -v to see a list of the files searched for.

    test/Test.hs:18:8:
        Could not find module ‘JWS’
        Use -v to see a list of the files searched for.

    test/Test.hs:19:8:
        Could not find mo

[2015-03-06 00:30] frasertweedale commented on #4
Thanks for reporting!  I was missing some modules in the distribution.

v0.3.41.0 should fix the issue: http://hackage.haskell.org/package/jose-0.3.41.0

[2015-03-06 00:30] #4 closed

[2015-04-06 18:22] alexanderkjeldaas opened #5 "Review code in response to common alg vulnerability"
I have gone through all the jwt libraries on hackage, and it seems like this one actually has typed keys, and thus might be protected against this common vulnerability:

https://auth0.com/blog/2015/03/31/critical-vulnerabilities-in-json-web-token-libraries/

An audit of some sort and a signoff that the library is OK is needed.

[2015-04-06 22:54] frasertweedale commented on #5
I believe that this implementation is not affected by either of the vulnerabilities outlined in the post.
Nevertheless please note the disclaimer of warranty in the license.

Thank you for bringing this matter to my attention!

[2015-04-06 22:54] #5 closed

[2015-04-16 02:40] frasertweedale opened #6 "implement symmetric ("oct") key generation"

[2015-04-16 02:40] frasertweedale opened #7 "implement EC key generation"

[2015-04-16 02:41] frasertweedale opened #8 "implement JWE"

[2015-04-16 03:01] frasertweedale opened #9 "JWT: implement "nbf" and "exp" processing"
Type of JWT validator is currently:

    validateJWSJWT
      :: ValidationAlgorithms
      -> ValidationPolicy
      -> JWK
      -> JWT
      -> Bool

Propose implementing the "nbf" and "exp" checks required by the spec by
updating `validateJWSJWT` to have type such as:

    validateJWSJWT
      :: ValidationAlgorithms
      -> ValidationPolicy
      -> JWK
      -> UTCTime
      -> JWT
      ->

[2015-04-16 03:05] frasertweedale opened #10 "JWT: implement "aud" check"
In JWT spec:

   intended for.  Each principal intended to process the JWT MUST
   identify itself with a value in the audience claim.  If the principal
   processing the claim does not identify itself with a value in the
   "aud" claim when this claim is present, then the JWT MUST be
   rejected.  In the general case, the "aud" value is an array of case-
   sensitive strings, each containing a St

[2015-04-16 03:10] frasertweedale opened #11 "ECDSA signing is vulnerable to timing attacks"
Crypto.PubKey.ECC.ECDSA signing operations are vulnerable to timing attacks.
Switch to a safe implementation.

http://hackage.haskell.org/package/crypto-pubkey-0.2.8/docs/Crypto-PubKey-ECC-ECDSA.html

[2015-06-03 06:56] frasertweedale opened #12 "Port to cryptonite"
Port hs-jose to the cryptonite library:

- http://hackage.haskell.org/package/cryptonite
- http://tab.snarc.org/posts/haskell/2015-06-02-announcing_cryptonite.html

This work might subsume #11.

[2015-07-23 11:08] #12 closed

[2015-07-27 00:03] frasertweedale commented on #7
fixed in 8bca89dc7cfb41d7eb983dc787e84c949cdb014b

[2015-07-27 00:03] #7 closed

[2015-07-27 00:03] frasertweedale commented on #6
fixed in 8bca89dc7cfb41d7eb983dc787e84c949cdb014b

[2015-07-27 00:03] #6 closed

[2016-05-26 16:32] snoyberg opened #14 "Build failure with GHC 8"
[code]

[2016-06-27 20:11] whittle commented on #9
I’m thinking about writing a PR to implement this feature, and before I start I’d like to ask you to consider a counter-proposal:

Create a monad class something like: `class HasCurrentTime m where getCurrentTime :: m UTCTime` and define instances for `IO` and `ReaderT UTCTime`.

Then update `validateJWSJWT` to have type:

[code]

And provide a new function `validateJWSJWTWithTime` with type (iden

[2016-07-04 03:26] frasertweedale commented on #9
I like the `HasCurrentTime m` approach.  Should see if any existing lib provides something like this, otherwise I'm happy for jose itself to provide it (and use it for this feature).

[2016-07-05 17:00] whittle commented on #9
After a little more digging, I found https://hackage.haskell.org/package/monad-time. Unless you have an objection, I’ll use that.

[2016-07-07 11:26] frasertweedale commented on #9
@whittle merged the PR; thanks a bunch!  I am going to try to push jose forward a bit more over the coming weeks so some types may change a bit.  I will probably avoid exporting validateClaimsSet, or move it to an 'Internal' module.

I added allowed-skew already :)

[2016-07-07 11:26] #9 closed

[2016-07-07 11:54] frasertweedale commented on #14
Fixed in 6522888d2becb50dce4afdcf74f15b0042635b1f

[2016-07-07 11:54] #14 closed

[2016-07-09 06:38] #10 closed

[2016-08-27 21:08] jkarni opened #16 "New release"
Can the changes from #15 be released?

[2016-08-30 14:21] jkarni opened #18 "Overlapping instance"
There are overlapping instances defined for `AsError` without `OVERLAPS`/`OVERLAPPABLE` pragmas. Attempting to use `Error` as an `AsError` results in:

    Overlapping instances for Jose.AsError Jose.Error
      arising from a use of ‘Jose.decodeCompact’
    Matching instances:
      instance Jose.AsError Jose.Error -- Defined in ‘Crypto.JOSE.Error’
      instance Jose.AsJWTError e => Jose.AsError

[2016-09-05 02:29] frasertweedale commented on #16
Soon.  Too busy right now.  I promise it before end of September (I have leave coming up!)

[2016-09-06 14:35] jkarni opened #19 "JWK.Alg not exported"
The `Crypto.JWK` module does not export the `Alg` type and it's constructors. I'm not sure why, or how to get the JWS algorithm of a JWK without that.

[2016-09-09 06:00] frasertweedale opened #20 "write example application"
It will help people to have some canonical examples of how to use the lib.

For example: https://twitter.com/mjmalone/status/772941668395778048

[2016-09-12 01:43] frasertweedale commented on #18
fixed in 7bd2d194ba9f5b82786a0fa04ba540cf68b0aef8

[2016-09-12 01:43] #18 closed

[2016-09-12 01:44] frasertweedale commented on #20
Example program has been added in 2a604da5ee76c61dc4a45bed8718f48313556e3f.

Waiting for feedback so see if it is "enough".

[2016-09-15 10:18] snoyberg opened #21 "Build failure with QuickCheck 2.9"
[code]

[2016-09-17 05:46] frasertweedale opened #22 "add function from JWK to compatible JWS header"
As a user of jose library, I want to load a JWK that will be used for signing,
and apply to it a function that returns a JWS header using an algorithm that
is "compatible" with the key type and size.

e.g. load a symmetric key, get HS256.  Load an RSA key, get RS384.

The strongest compatible algorithm should be chosen by default.

Perhaps a companion function that allows user to further constrain

[2016-09-17 06:14] frasertweedale commented on #21
Fixed in 017d266e7dcbe52e14fcc7a190c4e0202ca1aae7.

Thanks for reporting!

[2016-09-17 06:14] #21 closed

[2016-09-21 22:43] frasertweedale commented on #20
Requester is happy:

https://twitter.com/mjmalone/status/778699007094689792

[2016-09-21 22:43] #20 closed

[2016-09-26 03:56] frasertweedale opened #23 "update spec sect references to match RFCs"
A lot of section references in the haddock refer to earlier drafts of the
spec and need to be updated to match the RFCs.

[2016-09-26 06:49] #19 closed

[2016-09-26 06:49] #22 closed

[2016-09-26 12:08] frasertweedale commented on #19
note: the "alg" JWK header parameter is optional and the RFCs say very little about
how it should be used.  I'd recommend examining key data to decide what algorithm should
be used.

See https://github.com/frasertweedale/hs-jose/blob/7715cd23fceb11bc9488bc9f386afb13bf5a5263/example/Main.hs#L54-L57 as an (incomplete) example.  For EC key types, it is necessary to further inspect the key material to

[2016-10-01 02:53] #16 closed

[2016-10-05 19:05] whitehead1415 opened #24 "Custom JWTValidationSettings"
In the example it shows verifying a jwt.

[code]

How would one construct an alternative `JWTValidationSettings` than what `defaultJWTValidationSettings` gives you?

In particular I am trying to verify that the audience is correct.

[2016-10-06 03:30] frasertweedale commented on #24
Hi.  You do:

[code]

Set whatever `audiencePredicate` you need.

I'll update the `example` program with a trivial example of doing this (probably
by optionally reading valid audience(s) from trailing CLI arg(s).

[2016-10-10 11:35] jkarni opened #25 "Removing errors from API"
A lot of functions in the API of this package throw errors, when it seems like if there were tighter types they wouldn't need to. This matters a lot to me since I'm writing a library ([`servant-auth`](https://github.com/plow-technologies/servant-auth)) where I end up having to expose users to a lot of `Either`s - even _if_ they're using keys or whatever that will never fail.

For example, `toCompa

[2016-10-10 13:12] frasertweedale commented on #25
On Mon, Oct 10, 2016 at 04:35:09AM -0700, Julian Arni wrote:

I'm definitely interested to see how this would work out in
practice.  Happy to adopt significant API changes but having just
released v0.5 it would probably be a while before it gets released
(if I do adopt it).

One area that would need to be worked out is what to do about
`newJWS`, `signJWS`, etc.  Perhaps preserve these functions fo

[2016-11-21 03:29] beardpotatocat opened #26 "Serialize one "aud" (Audience) Claim to JSON as string"
In https://tools.ietf.org/html/rfc7519#section-4.1.3 - In the
   special case when the JWT has one audience, the "aud" value MAY be a
   single case-sensitive string containing a StringOrURI value.

In current implementation is a single value array, for example "aud": ["https://www.googleapis.com/oauth2/v4/token"] but that doesn't work for https://developers.google.com/identity/protocols/OAuth2Ser

[2016-11-21 04:28] frasertweedale commented on #26
Yeah OK... as long as you promise to raise a ticket with Google to fix their implementation as well :)

[2016-11-21 09:19] #26 closed

[2016-12-11 05:01] frasertweedale commented on #25
@jkarni so I did some work towards this change.  See https://github.com/frasertweedale/hs-jose/compare/feature/jws-parameterise-sig-container for diff.

There are a couple of stumbling blocks:

1. Although we can declare `FromCompact` and `ToCompact` instances for 'JWS Identity a' only, we still cannot discard the error because compact serialisation cannot represent a JWS (or JWE) with an *unprote

[2016-12-14 06:26] haishengwu-okta opened #27 "Shall JWSHeader implement toJSON and fromJSON type class?"
https://hackage.haskell.org/package/jose-0.5.0.1/docs/Crypto-JOSE-JWS.html#t:JWSHeader

any particular reason it is not yet?

[2016-12-14 12:31] frasertweedale commented on #27
It cannot be implemented because a JWSHeader serialises to *two* JSON objects: the unprotected header, and the protected header (which is then base64url-encoded).

Instead, there are instances ` HasParams a => FromJSON (Signature a)` and ` HasParams a => ToJSON (Signature a)` for working with signatures which are "one layer out", and which perform the proper processing of unprotected and protected

[2016-12-14 18:32] haishengwu-okta commented on #27
I'm trying to use the `JOSE.JWK.verify` which needs an `Alg` from the JWT header.

[2016-12-14 20:03] haishengwu-okta commented on #27
I guess `JOSE.Compact.decodeCompact` is the right one I shall use. Thanks!

[2016-12-14 20:03] #27 closed

[2016-12-14 22:35] frasertweedale commented on #27
Yes, JWT is a whole other issue... JWT is defined to use *only* the compact serialisation, so there's no aeson instances for JWT.

[2016-12-15 12:40] edgmnt opened #29 "JWT verification vulnerable to header manipulation"
It looks like Crypto.JOSE.JWS.verifySig gets the key type from the unverified header:
[code]
And here's what the callee does:
[code]
An attacker could simply substitute None for the key type in the header and clear out the signature.

Issue #5 might've been closed too soon.

[2016-12-15 13:32] frasertweedale commented on #29
Per https://tools.ietf.org/html/rfc7518#section-3.6, hs-jose does not accept the "none" algorithm by default - applications must explicitly enable it.

Apart from that, there is little else one can do whilst remaining compliant with RFC 7515, which does allow the "alg" parameter to be carried in the unsecured header (see https://tools.ietf.org/html/rfc7515#section-4.1.1).

If it is important for y

[2016-12-15 13:32] #29 closed

[2016-12-15 14:28] edgmnt commented on #29
I think the user (caller) should explicitly select the algorithm without relying on the "alg" field at all. That field can be used for a simple sanity check instead.

Currently, it seems keys are distinguished by type, in effect selecting the algorithm by the key to some extent. However, what happens if you expect RS512 but an attacker alters "alg" to RS256? Are we sure the verification fails, doe

[2016-12-16 07:30] frasertweedale commented on #29
@edgmnt switching from RS512 to RS256 **does not truncate the key**; it changes the digest algorithm that will be used.  If an attacker changes the content and/or hash algorithm, they have to forge a valid signature for the new digest.  Because the key is the same, "downgrading" the hash **does not make it easier to forge a signature** (because the signature output size is the same, and signatures

[2016-12-17 04:06] #23 closed

[2016-12-17 04:34] #24 closed

[2016-12-17 04:36] frasertweedale opened #34 "optics for StringOrURI"
Currently StringOrURI uses some not very nice functions for parsing and getting at the possible values.
Prisms would be better.

Also note that the current implementation is not quite right: we interpret anything that does not parse as a URI as an arbitrary string value, but according to https://tools.ietf.org/html/rfc7519#section-2, *any* value that contains a `':'` MUST be a URI.  So this should

[2016-12-18 06:12] #34 closed

[2017-01-04 14:23] edgmnt opened #35 "Verify JWT/JWS using a JWKSet"
There should be a helper that validates a JWT/JWS using a JWKSet instead of just one key. I'm not sure if we can do better than verifying against all keys in the JWKSet. Any thoughts?

This is useful for checking Google's JWTs, because they publish multiple keys as a JWKSet.

[2017-01-05 01:05] frasertweedale commented on #35
Yep, we can do better.  I need to think about what the API should look like.  Ideas welcome.

[2017-01-06 12:10] edgmnt commented on #35
I think it should look the same, but take a JWKSet instead of a JWK. The current validation policy stuff makes sense, e.g. one or all signatures must check out, but each can come from a different key in the set.

[2017-01-06 13:13] frasertweedale commented on #35
I want to make sure that the type will admit a more general implementation in future, e.g.
instead of a JWKSet, consider a map structure that looks up keys efficiently by "kid" or
""x5t#S256" parameter if present in the JWS header, otherwise performs a linear search
(or aborts).

So something like:

[code]
This approach would allow `verifyJWS` to be used with both single `JWK` as
well as a `JWKSet

[2017-01-11 13:03] frasertweedale commented on #35
I implemented it.  Could you please review to see how well it meets your needs?  (On `master` branch).

[2017-01-26 09:44] sophie-h commented on #11
Am I right to assume this bug has actually been fixed with #12 been closed? There is still a warning in the README.

[2017-01-26 10:00] sophie-h opened #36 "Missing and future JWSHeader parameters"
IANA [currently lists](http://www.iana.org/assignments/jose/jose.xhtml#web-signature-encryption-header-parameters) about 35 header parameters. `JWSHeader` implements about 11 of them. There are also drafts using keys that are not listed in the registry yet an I need to use them.

Is there already a way to add other parameters without creating a new type?

[2017-01-26 23:22] frasertweedale commented on #11
@sophie-h alas no, the latest version of cryptonite still apparently has the timing problem: https://hackage.haskell.org/package/cryptonite-0.21/docs/Crypto-PubKey-ECC-ECDSA.html

[2017-01-27 17:08] sophie-h commented on #11
Thank you for the clarification!

[2017-01-30 08:07] frasertweedale commented on #36
Thanks for your feedback.

Many of the header parameters pertain specifically to JWE, which is not yet implemented.

For application-specific headers, yes, you can create a new type and instance `HasParams` and `HasJWSHeader` for it (see https://github.com/frasertweedale/hs-jose/blob/3348c55579d2e3d6ce02a9237ece12e4611a210e/test/JWS.hs#L56-L65).  The approach is outlined in https://gist.github.com

[2017-01-30 08:08] frasertweedale commented on #35
@edgmnt ping.  Does the current implementation meet your needs?

[2017-02-01 14:03] edgmnt commented on #35
@frasertweedale Sorry it took me so long to reply. Yes, it's alright, although it should also work for JWTs, so validateJWSJWT should also take a JWKStore.

[2017-02-01 23:56] frasertweedale commented on #35
Right, good point @edgmnt.  I'll do that and hopefully cut a new release in the not too distant future.

[2017-02-02 01:25] #35 closed

[2017-03-20 03:36] frasertweedale opened #37 "Implement JWK Thumbprint (RFC 7638)"
https://tools.ietf.org/html/rfc7638

[2017-03-20 03:37] frasertweedale opened #38 "Investigate/implement JWS Unencoded Payload Option (RFC 7797)"
https://tools.ietf.org/html/rfc7797

[2017-03-20 07:33] sophie-h commented on #37
Stuff that I know. Maybe this simplifies the implementation:

Currently I'm using this implementation in my ACME library:

[code]

Looks pretty messy. Would be grate to have this in jose! (Also, converting something to the JWS Base64 format and she SHA256 function would be a great library features!)

I'm testing this against the RFC example (only RSA). The test looks something like this

[code]

[2017-03-20 23:01] frasertweedale commented on #37
@sophie-h thanks for the info!  Your approach is sound; I'll add this soon (within the next week or so), and include it in the next release (maybe a bit after I add the new function, unless more fixes/features are needed).

For the base64 stuff, I think it would be best to add it *base64-bytestring* (or, if they that project is not receptive, a small, separate library).

I don't see a need to expo

[2017-03-21 14:08] frasertweedale commented on #37
@sophie-h hi again.  Would you mind reviewing f7cca79ed0d3a87332767363368344ad466ba700 to determine if it meets your needs?

Note that I re-export `Crypto.Hash` via `Crypto.JOSE.JWK` so it is easy to select the
desired digest algorithm.

[2017-03-21 16:05] sophie-h commented on #37
Great! Without jose it would be really painful to work with ACME. Implementation looks good to me!

Maybe I overlooked something, but currently I don't see a way to avoid the `filter (/= '=')`. If I need the thumbprint inside of JWS I can use `Base64Octets`/`Base64SHA256`, but ACME also needs the thumbprint as Base64url without `=`. Maybe, the easiest way would be to add a function that converts `

[2017-03-21 16:15] sophie-h commented on #36
Here is a very basic example adding a "nonce" field without `parseParamsFor` implemented.

[code]

[2017-03-22 11:00] frasertweedale commented on #37
@sophie-h how do you like this prism?  https://github.com/frasertweedale/hs-jose/commit/48efff65638a49db7f416dea6198e627f1399371

[2017-03-22 12:34] sophie-h commented on #37
Looks good and very flexible.

[2017-03-22 23:37] frasertweedale commented on #37
Fixed in f7cca79.

[2017-03-22 23:37] #37 closed

[2017-03-25 03:05] frasertweedale opened #39 "Parameterise JWT over Claims object"
The JWT claims object only implements the registered claim names from RFC 7519.
But there are now other registered claim names from other standards.  See
https://www.iana.org/assignments/jwt/jwt.xhtml.

Similar to what was done with JWS headers, we should parameterise JWT over a "claims" type
that models the claims understood by a particular application.

[2017-03-26 06:11] #36 closed

[2017-03-27 13:31] frasertweedale commented on #25
There isn't a straightforward way forward on this so I'm going to close it.
If anyone has strong feels about it, or ideas, I'm happy to accept your patches or advice.

[2017-03-27 13:35] frasertweedale commented on #36
@sophie-h I think I'm pretty much done for now with features, refactoring, documentation
and examples, and it's time to cut a major release.  Could you please test current master (0b1981ef2d29dc03e0c59ee0b3f14873189c4877) and let me know if it works for you and
your ACME tool?

At this stage, I'm planning to release about one week from now.

[2017-03-28 11:29] sophie-h commented on #36
To support version 0.6 I have "26 insertions(+), 51 deletions(-)"

hemio-ev/libghc-acme@5a6e69b3d791226fb2768bcf03629c700924d0fe

All my tests are passing. That makes a very nice hs-jose version for me! Thanks!

[2017-03-30 10:39] frasertweedale commented on #25
I had an insight, and have worked out how to do it.

Please provide feedback on https://github.com/frasertweedale/hs-jose/compare/feature/jws-parameterise-sig-container

@sophie-h could you please test this also.  I'd like to include it in the upcoming release.  There are some breaking changes; from user point of view this is a new type parameter for `JWS`, removal of `newJWS`, and changing `signJ

[2017-03-31 11:41] sophie-h commented on #25
I might need a few days to look into that.

[2017-03-31 11:46] frasertweedale commented on #25
On Fri, Mar 31, 2017 at 04:41:05AM -0700, Sophie Herold wrote:

No worries; take your time.

[2017-04-05 08:29] sophie-h commented on #25
First observation: I think the "additional header parameters" example is failing with `signJWS` due to the new `Cons s s Word8 Word8` requirement for the payload.

[2017-04-05 08:46] sophie-h commented on #25
Ah, just forgot to change the payload to bytestring. That was easy to fix ;)

[2017-04-05 08:53] sophie-h commented on #25
Everything works as expected for me. Looking forward to 0.6!

[2017-04-05 09:01] frasertweedale commented on #25
On Wed, Apr 05, 2017 at 01:53:50AM -0700, Sophie Herold wrote:

Awesome, thanks for testing!  I will release later this week.

[2017-04-07 04:34] frasertweedale commented on #25
Fixed in f0aa0c7a5d63a2e63cb1a747a42fa0d64a4dfda2

[2017-04-07 04:34] #25 closed

[2017-04-20 14:11] duijf opened #41 "JWS.defaultValidationSettings is insecure"
The current API for choosing validation settings promotes insecure usage of the library. The default validation settings allow the second attack detailed in [this blog post](https://auth0.com/blog/critical-vulnerabilities-in-json-web-token-libraries/) to happen.

Consumers of this library should explicitly set which algorithm they expect a signature to have before validating it. The [current defau

[2017-04-20 23:00] frasertweedale commented on #41
Hi @duijf.  This was reported ages ago (https://github.com/frasertweedale/hs-jose/issues/5).
We have never been vulnerable because hs-jose uses proper types, not strings, to represent
keys.  See https://github.com/frasertweedale/hs-jose/blob/f0aa0c7a5d63a2e63cb1a747a42fa0d64a4dfda2/src/Crypto/JOSE/JWA/JWK.hs#L609-L631.

As of jose-0.6.0.0 we support verifying with a JWKStore, which can hold multip

[2017-04-20 23:00] #41 closed

[2017-04-21 04:05] haishengwu-okta commented on #29
sounds like sanity check `alg` would great. this is what I did in my application.
https://github.com/okta/samples-haskell-scotty/blob/master/src/Okta/Samples/JWT.hs#L123-L132

[2017-04-21 04:30] frasertweedale commented on #29
@haishengwu-okta afaict this doesn't prevent any attacks (if I am wrong about that, please elaborate!)

I have previously considered whether it is appropriate to fail verification if the JWK's "alg" field is present and does not match alg of signature.  I decided against it because the RFCs do not require or recommend a particular behaviour around this JWK "alg" parameter; all it says is:

Therefo

[2017-04-21 05:19] begriffs opened #42 "How to construct HMAC-SHA256 from simple string?"
I'm working on code which can either load a full JWK from a file in its normal JSON format, or else construct a HMAC-SHA256 key from just a secret string. I intend this key to be used to verify a signed (not encrypted) JWT. Can't get the following snippet to compile though because I don't know how to construct the `KeyUse` (it's defined with template haskell somehow).

[code]

Am I even going abou

[2017-04-21 07:46] duijf commented on #41
Thanks for the quick response! Sorry I missed the previous discussion; I was in a hurry :)

[2017-04-21 09:07] sophie-h commented on #42
I think the export of `KeyUse` is missing in the library. This should be easy to fix.

For the other parts of your code, you can check if `genJWK` does what you need. Otherwise, you need something like

[code]

[2017-04-21 15:19] begriffs commented on #42
Thanks for the super fast reply!

Another thing is I'm using jose-0.5.0.2 which is pinned there on Stackage, and not sure when a newer version of the library will be available that includes your fix. So maybe a workaround is to construct an aeson Value for this jwk and then "parse" it?

[2017-04-21 23:32] frasertweedale commented on #42
On Fri, Apr 21, 2017 at 08:19:25AM -0700, Joe Nelson wrote:

I'll release a fix on the 0.5 branch, too.

Thanks for reporting; I'll get onto this in the next day or so.

[2017-04-22 06:52] #42 closed

[2017-04-22 07:03] frasertweedale opened #44 "As a library user I want a more convenient way of filtering keys"
Newtyping or defining one's own `JWKStore` type to implement new "filtering" rules,
e.g. ignoring keys whose "jku" or "alg" parameters are inconsistent with the operation being performed,
is quite burdensome.  A more lightweight way of filtering keys is preferred, along with a set of
useful predefined rules.

[2017-04-22 07:04] frasertweedale commented on #29
@haishengwu-okta I filed a new issue for this feature: https://github.com/frasertweedale/hs-jose/issues/44

[2017-04-22 07:23] haishengwu-okta commented on #29
sounds great. thanks!

[2017-04-22 08:53] frasertweedale commented on #42
@begriffs released v0.5.0.3 and v0.6.0.1 ; the former should be picked up in next lts-8 release.

[2017-04-22 14:11] begriffs commented on #42
Thanks for the new version! I pulled in 0.5.0.3 with stack extra-deps. I wonder if I'm still constructing the key wrong because I always get `JWSInvalidSignature` when I call `validateJWSJWT` with that generated key and the defaultJWTValidationSettings.

[2017-04-23 04:07] frasertweedale commented on #42
On Sat, Apr 22, 2017 at 07:11:11AM -0700, Joe Nelson wrote:

Can you post a minimal reproducer? I'll take a look at it.

Cheers,
Fraser

[2017-05-01 03:27] begriffs commented on #42
Thanks for taking a look at this, I'm getting pretty confused!

These are the steps I took in GHCI to reproduce the problem.

[code]

Results in:

[code]

Now I parse an example payload:

[code]

The result:

[code]

Now to put the two together and try to validate:

[code]

Sadly this produces `Left (JWSError JWSInvalidSignature)`.

[2017-05-04 03:27] frasertweedale commented on #42
@begriffs This occurs because they key is too short.  See https://tools.ietf.org/html/rfc7518#section-3.2

What library / program did you use to produce the JWT?

[2017-05-04 03:30] begriffs commented on #42
In https://jwt.io/ I pasted this into the payload field

[code]
and changed the signature to `safe` (with an unchecked checkbox for "secret is base64 encoded).

[2017-05-04 03:34] begriffs commented on #42
By "key" I am interpreting that to mean the secret passphrase for signing the jwt.

People providing this key via a config file parameter. If I now change the program make the program to make it die on short keys then it will break backwards compatibility.

Then again maybe it was a bad idea for my program to allow short keys in the first place...

[2017-05-04 03:35] frasertweedale commented on #42
On Wed, May 03, 2017 at 08:30:56PM -0700, Joe Nelson wrote:

Huh.  Well, it shouldn't do that, according to the spec (unless it
is doing some kind of key derivation to get a long-enough key to
pass to the underlying library).

Try ``"reallyreallyreallyreallyverysafe"`` :)

[2017-05-04 03:37] begriffs commented on #42
Because the failure will only happen when the message to be verified is longer than the secret, I guess there is no abstract minimum size requirement for the key. Is there a way that my code can detect this jose error to provide a friendly error to the user so that they know to change the key rather than thinking the jwk is invalid for another unknown reason?

[2017-05-04 03:44] frasertweedale commented on #42
@begriffs the failure happens when the *digest size* for the HMAC algorithm is longer than the key (it has nothing to do with message length).  So for HMAC-SHA256, that's 32-bytes minimum key size.

It is an error to use short keys.  Whatever library you are using to produce these JWTs, is violating the spec by allowing short keys to be used.

You should break compatibility in the name of security

[2017-05-04 03:48] frasertweedale commented on #42
@begriffs regarding detecting the problem, I'm pondering how to expose a better error, but leaning against it since the short keys should never have been used in the first place, and it is a security bug in whatever library produced the token.  But there is one way to detect it in your program: use the supplied key to attempt to sign a token.  If the key is too short you will get a `KeySizeTooSmal

[2017-05-04 03:54] begriffs commented on #42
Thanks a lot for this suggestion and helping me debug! I would have been lost for a long time with this one. I've got a lot to learn about crypto. I also confirmed that my code works for the key `reallyreallyreallyreallyverysafe`.

[2017-05-04 06:22] frasertweedale commented on #42
@begriffs you are welcome.  Thank you for your valuable contribution!

[2017-05-19 21:35] begriffs commented on #42
This is technically another issue but I'll tack it on the end of the current conversation...

The following JWK gives me `JWSError JWSInvalidSignature`, do you know what might be wrong with it?

[code]

[2017-05-24 05:55] begriffs commented on #42
Actually that error happens when the key fails to validate a jwt, the key itself may be fine.

[2017-05-25 00:36] frasertweedale commented on #42
@begriffs this is also a "key too small" problem.  It's a 1024-bit key, but JWA RSA signature
algorithms require 2048-bit key at minimum: https://tools.ietf.org/html/rfc7518#section-3.5.

I think I have worked out how I am going to deal with this.  A preliminary "check key" step,
as a part of every verification, will check for simple problems like this and return the appropriate
error if there is

[2017-05-25 00:51] frasertweedale opened #46 "Perform key sanity check when verifying signatures"
Currently if a key is too small, the verification fails with `InvalidSignature` instead
of `KeySizeTooSmall`.  Add a key sanity check step before attempting to validate
the signature so that the appropriate error gets returned to the caller.

Thanks to @begriffs for reporting.

[2017-05-25 02:21] begriffs commented on #42
Specific error messages will be really helpful, thanks for looking into how to do that.

[2017-06-11 12:17] frasertweedale commented on #46
@begriffs have a look at: https://github.com/frasertweedale/hs-jose/commit/59ca5e656370e5b7812faadf5234aa9b0724e782

Note that this step is not automatically performed during verification for a couple of reasons:

1. An offending JWK in a JWK store might not actually be used for a particular verification; checking all JWKs in a JWKStore is too aggressive and may result in spurious verification fai

[2017-06-28 15:48] peti opened #48 "Installing an executable called "example" is probably a bad idea"
Arguably, an example program should not be installed globally at all. In any case, it would be good to use a less generic name, like "jose-example".

[2017-06-30 02:02] centromere opened #49 "JWT example in documentation incorrect"
In [the documentation](https://github.com/frasertweedale/hs-jose/blob/db1949a1ba99b4f92f9847d0d30b3c0e66b7dbdc/src/Crypto/JWT.hs#L43) the example reads:

[code]

however, the type of `signClaims` is:

[code]

In order for it to work the type would have to be:

[code]

or the example would need to be changed to:

[code]

[2017-06-30 03:45] #49 closed

[2017-06-30 03:45] frasertweedale commented on #49
@centromere thanks for reporting!

[2017-06-30 03:48] frasertweedale commented on #48
Yes, that's true.  I will change it soon :)  Thanks for reporting @peti.

[2017-07-02 04:44] begriffs commented on #46
Thanks for the helper function. I will try it out and see how it goes!

[2017-07-11 05:06] frasertweedale opened #50 "fix build for GHC 7.8 and 7.6"
sea of red in the hackage matrix builder: https://matrix.hackage.haskell.org/package/jose

[2017-07-15 09:25] phadej opened #51 "broken with GHC-8.2"
See https://matrix.hackage.haskell.org/package/jose

Upper-boundless dependency on `template-haskell` is a bad idea. IIRC it breaks with each major version.

This is impediment for making `servant-auth` GHC-8.2 ready.

[2017-07-15 09:27] phadej commented on #51
You can test GHC-8.2-rc3 with stack:
- https://www.reddit.com/r/haskell/comments/6lvles/announce_ghc_821_release_candidate_3_available/djwzcr4/
- https://gist.github.com/tfausak/623d283cfe7a338bcbfca56ddfec0ecd

[2017-07-17 06:33] frasertweedale commented on #50
Decided not to support pre-AMP GHC after all.

[2017-07-17 06:33] #50 closed

[2017-07-17 06:35] frasertweedale commented on #51
We already had the fix in master.  Have cherry-picked the fix to maint/0.6 and cut release v0.6.0.3.

Will add upper bound on template-haskell dep soon.

Thanks!

[2017-07-17 06:35] #51 closed

[2017-07-17 13:01] phadej commented on #51
@frasertweedale could you make revisions for old jose releases, (the [matrix](https://matrix.hackage.haskell.org/package/jose) shows what's broken). I tripped on this, as solver happily picks 0.5.x versions (when packages have `jose <0.6` bound) when used with GHC-8.2

[2017-07-17 13:39] frasertweedale commented on #51
On Mon, Jul 17, 2017 at 01:03:02PM +0000, Oleg Grenrus wrote:

Sure, will get onto this in next day or so.

Cheers,
Fraser

[2017-07-18 13:49] frasertweedale commented on #51
@phadej http://hackage.haskell.org/package/jose-0.5.0.5 <- there ya go!

[2017-07-25 00:42] frasertweedale opened #52 "add complete JWT verification example"
[code]

[2017-07-25 00:43] frasertweedale commented on #52
[code]

[2017-08-07 14:54] begriffs opened #53 "Caching getPOSIXTime calls"
Hi there, thanks for this excellent library. I'm switching PostgREST to use it in https://github.com/begriffs/postgrest/pull/919, but we noticed one regression. It used to be that we protected the `getPOSIXTime` function using the [auto-update](https://hackage.haskell.org/package/auto-update) library. This way when the server gets high traffic it doesn't have to make this relatively expensive syst

[2017-08-08 00:23] frasertweedale commented on #53
@begriffs I'll provide version of the JWT validation functions that receive a `UTCTime`
argument for the current time.  Work for you?

[2017-08-08 16:42] begriffs commented on #53
Yeah that would work fine, thanks!

[2017-08-09 06:54] Leonti opened #54 "Can't decode JWKSet if thumbprint is not 20 bytes (incorrect number of bytes)"
Hi!
While trying to decode JWKSet from Auth0 I stumbled on an issue when decoding fails because `x5t` is more than 20 bytes (I'm getting `Left "Error in $.keys[0].x5t: incorrect number of bytes"`).
Here is the value:
[code]
The decoded value for this is:
[code]
It has 40 characters in hex, so I think it will be 20 bytes when in binary.

This is the JWK set coming from https://auth0.com

The full s

[2017-08-09 07:12] frasertweedale commented on #54
This is a bug in auth0.  Per https://tools.ietf.org/html/rfc7517#section-4.8:

[code]

Therefore the unencoded data must be 20-bytes in size.

[2017-08-09 07:13] frasertweedale commented on #54
Thanks for your report, but you should raise the issue with auth0.  Good luck!

[2017-08-09 07:13] #54 closed

[2017-08-09 09:50] Leonti commented on #54
Thanks!
I asked the question on their support forum :)

[2017-08-10 14:33] frasertweedale commented on #53
@begriffs could you please try out commit
https://github.com/frasertweedale/hs-jose/commit/b3ce7f01ce260d34e01fcbd52fc05bcfa6243faa
and verify that it is has the desired behaviour?

(Note: I only provided one new function, `verifyClaimsAt`; no explicit-time version of the
`validateClaimsSet` is provided (and it shouldn't be needed in the common case
either, because this validation is performed as

[2017-08-10 14:36] frasertweedale commented on #53
@begriffs make that https://github.com/frasertweedale/hs-jose/commit/62d642bee388e93c0c2256e32fa63b33468187db (I just changed the order of some arguments).

[2017-08-11 08:16] frasertweedale commented on #46
@begriffs did you have any feedback re `checkJWK` ?

[2017-09-26 10:14] marsouin opened #56 "JWT Invalid"
Hi, I have a JWT and JWK issued by Auth0 that get a systematic JWSError JWSInvalidSignature on validation.

Here's a sample JWT
`eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImtpZCI6IlJEWTVSVEpFTVRReFF6WTBPVFkzT0VORk1UUXpPVEU1UXpORFFVSTBNVVl4UkRnMU5VUXdSUSJ9.eyJpc3MiOiJodHRwczovL2xvYmJ5Y2l0b3llbi5ldS5hdXRoMC5jb20vIiwic3ViIjoibFptdTQzdDJXQjBrWm1sQzV3ZmxoTVVQOFY3bzlNemRAY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vd3d3Lm

[2017-09-26 10:22] frasertweedale commented on #56
Hello.  This appears to be same issue as https://github.com/frasertweedale/hs-jose/issues/54.
At least, the JWK has that problem.

So I can confirm could you please supply a minimal program to reproduce this issue?

[2017-09-26 10:30] marsouin commented on #56
Thanks a lot for your answer, doesn't look good 😢
You can try a simple GET request on http://139.59.161.10:3000/deputes (we're using Postgrest). I'm chatting with them about the same issue and they're the ones who recommended I post here ;)

[2017-09-26 10:43] frasertweedale commented on #56
@marsouin the thing is, I can't quite work out why it's failing with `JWSInvalidSignature`.  If you are
trying to use that JWK to validate the JWT, I would think it would fail during JWK parsing.

Like I said, can you give me a minimal program that demonstrates how you are attempting to validate the JWT?

Here is another suggestion in relation to the `x5t` parameter: the JWK itself is not signed -

[2017-09-26 10:46] marsouin commented on #56
@frasertweedale right, sorry, I'm terrible at Haskell is the thing. I'm going to try your suggestion and or find someone here who could help me write a minimal program.
Keep you posted within the day ;)

[2017-09-26 10:49] frasertweedale commented on #56
@marsouin cheers (FYI I am in UTC+10).

BTW, you are not terrible at Haskell, you are a new learner :)  Enjoy the ride.

[2017-09-26 11:02] marsouin commented on #56
@frasertweedale oh well, that might be tomorrow for you then haha.
True that ;) I will!

[2017-09-27 15:28] marsouin commented on #56
I've just gotten rid of the x5t & x5c parameters and got the next error, which is JWTNotInAudience. But I guess that's more of a postgrest issue ;)

[2017-09-28 00:14] frasertweedale commented on #56
@marsouin you have to set the *audience predicate* in the JWT validation settings to test
whether the audience claim (if present) is acceptable.

See the `doJwtVerify` example at http://hackage.haskell.org/package/jose-0.6.0.3/docs/Crypto-JWT.html, specifically:
[code]

If you don't care at all you can just set the predicate to `(const True)`.

[2017-09-30 03:58] begriffs commented on #46
Thanks, I haven't gotten around to using this function, but I filed an issue in my project so that I or someone else will use it to improve error messages for users.

[2017-10-03 00:22] frasertweedale commented on #46
@begriffs righto, I'll merge it soon.

[2017-10-05 09:20] PierreR opened #58 "[Question] replacing removed `fromString` when upgrading to 0.6"
While migrating from 0.5 to 0.6 (for the posgrest project) I have to face 9ed8fe19f9b84efe458c23876ed70920c0207697 and the change from Text to String in `StringOrUri`.

What is the idiomatic way to replace the removed `fromString` function ? As the [comment](https://github.com/begriffs/postgrest/pull/997/files) on the PR suggests, the following does not seem satisfying:

Text -> StringOrUri
[code]

[2017-10-05 11:01] frasertweedale commented on #58
The `IsString` instance is still there, but as the comment says, it is partial.  If you are working
with a known value you can use `fromJust` without remorse.  If it is user-specified use the `stringOrUri`
prism and handle the `Nothing` case as an error, in whatever way is appropriate for the application.

[2017-10-05 11:01] #58 closed

[2017-10-05 11:08] frasertweedale commented on #56
@marsouin what is the outcome?  Shall I close this issue?

[2017-10-05 12:38] PierreR commented on #58
@frasertweedale Thanks for your help. Don't want to bother further with this but my concern was also about the level of "conversion" between Text and String implicit done by `stringOrUri`. Probably nothing to be worried about but well ... going from Text and back to String (I am talking about `StringOrUri`) is unusual enough that I was wondering about ;-)

[2017-10-05 15:39] marsouin commented on #56
I ended up verifying the audience perfectly, you can close this!

[2017-10-05 22:27] frasertweedale commented on #56
Glad to hear.  Thanks!

[2017-10-05 22:27] #56 closed

[2018-01-08 21:31] WraithM commented on #54
@Leonti Did you ever end up getting anywhere with auth0? I just ran into the same issue. What did you end up doing?

[2018-01-09 10:44] Leonti commented on #54
@WraithM Unfortunately there is no progress from their side:
https://community.auth0.com/questions/7227/certificate-thumbprint-is-longer-than-20-bytes

This what I ended up doing unfortunately:
`jwksFix :: ByteString -> ByteString
jwksFix = replace (L.toStrict "x5t") (L.toStrict "x5t_unused") . L.toStrict`

It basically removes thumbprint field so it's not decoded anymore
At least it still verifie

[2018-01-09 11:34] frasertweedale commented on #54
Fair enough.  Be aware that if the `x5t` parameter appears in the JWS Protected Header (including any JWS containing the `x5t` parameter that uses the Compact Serialization) this approach will not work.

Another option is to actually decode the hex-encoded thumbprint and re-encode it properly.  But again that will only work when it is in the unprotected header.

[2018-01-10 00:35] WraithM commented on #54
I wrote the x5t re-encoding code. @frasertweedale, is this what you were roughly thinking:

[code]

[2018-01-10 00:51] frasertweedale commented on #54
Yes, pretty much along those lines.

[2018-02-27 17:50] steve-chavez commented on #53
@frasertweedale I've tested the new `verifyClaimsAt` function in https://github.com/steve-chavez/postgrest/commit/14b5b3d7a8e4c38fb58136a821a81b577069629e and is working ok(all postgrest tests passing), would've great if you could do a release with the function to include the change in postgrest master branch.

[2018-04-04 04:04] juhp opened #59 "test/JWT.hs: error: Duplicate instance declarations"
In Stackage Nightly:

[code]

[2018-04-05 07:44] #59 closed

[2018-04-05 07:50] #53 closed

[2018-04-05 08:18] #48 closed

[2018-04-05 08:20] frasertweedale commented on #53
@begriffs @steve-chavez there ya go.  I'll be cutting v0.7.0.0 within the next day or so.

[2018-04-08 23:01] frasertweedale commented on #59
@juhp thanks for reporting :)

[2018-04-27 17:49] sbditto85 opened #60 "RE: JWT's and validation"
What are your thoughts on adding a `unsafeJWTClaims` like function where we can get the claims in the JWT without validation.

My motivating case is we have multiple services running that pass a JWT for validation if the token just happens to expire in the middle of a transaction I'd like to refresh the token rather then abort the transaction, in order to refresh the token I would need to access t

[2018-04-28 01:05] frasertweedale commented on #60
Hi.  You can set an allowed skew in the JWT validation settings:
https://hackage.haskell.org/package/jose-0.7.0.0/docs/Crypto-JWT.html#t:HasAllowedSkew

If you really want to get the claims out of an expired token, you can set a high allowed skew and use the standard validation function.

[2018-05-01 14:47] sbditto85 commented on #60
hummm, i'm rather disappointed in this response. It seems like a big hack rather then a designed API. I personally don't see whats wrong with exposing an "unsafe" function to bypass all the validation code when you don't want to run the validation code.

[2018-05-01 23:32] frasertweedale commented on #60
@sbditto85, the "unsafe" variant you describe, apart from violating https://tools.ietf.org/html/rfc7519#section-4.1.4, violates the library's philosophy of ensuring (to the extent possible) correct and safe behaviour.  Your use case is valid, but given the existence of workarounds, it does not overrule those concerns.

Happy to discuss further the specifics of your use case / architecture, to see

[2018-05-08 20:20] ProofOfKeags opened #61 "JWK constructor for ECDSA Public Keys"
It appears there is no way to create a Public Key for ECDSA because none of the constructors are exported. Is there a way around this. I'm willing to put in a PR if you have a vague idea for how you'd like to do this.

[2018-05-09 17:33] sbditto85 commented on #60
the idea of having an "unsafe" function is to break the safe specification with the understanding that if you do so its at your own risk and "there be dragons" if you use it incorrectly.

It seems a somewhat common idiom to force correct uses through the types and functions, but where applicable provide an unsafe "escape hatch" if needed for the random one off cases . Just cranking up the toleranc

[2018-05-15 02:04] frasertweedale commented on #61
@CaptJakk what type are you starting with?

[2018-05-16 15:41] CaptJakk commented on #61
PEM encoded elliptic curve public keys, so I can extract the x,y coordinates myself or with another library, but then I need to be able to form a JWK with that so that I can do claims packet validation.

[2018-05-23 05:59] frasertweedale opened #62 "Construct JWK from X.509 certificate"
Add a function to convert an X.509 certificate to a JWK.
The JWK should bear the certificate in its `x5c` field, and possibly
also the fingerprint(s) of the certificate in the `x5t` and `x5t#S256`
fields.

[2018-06-11 22:54] donatello opened #63 "Verifying tokens from Google's SecureTokens API"
I am trying to verify tokens signed by Google's SecureToken service - https://developers.google.com/identity/toolkit/securetoken

Google is using the RS256 algo, and the public key is one of the keys provided at https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com

So to verify the tokens generated by Google, we need to parse and convert the keys provided at the

[2018-06-12 01:53] donatello opened #64 "How to retrieve kid and algorithm in a JWT before verifying?"
This is related to verifying tokens created by [Google's Secure Token API](https://github.com/frasertweedale/hs-jose/issues/63).

The token generated by their service contains a "kid" header that identifies the public key at https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com to verify with.

How can I retrieve the headers from the token? An example would be gr

[2018-06-13 04:18] frasertweedale commented on #63
@donatello your approach is fine.  One improvement would be to construct a `JWKSet` of all the
keys and then perform validation once.  (This lets you avoid explicitly checking each JWK to find one that verifies the token).

w.r.t. #62, the main part I'd like to adopt is `certToJwk`.  Feel free to create a PR.  Otherwise I'll tackle this soon.  I'd like the type to be:
[code]
where the `Nothing` re

[2018-06-13 04:46] frasertweedale commented on #64
@donatello there can be multiple "kid" headers in a JWS: 0 or 1 for each signature.
But it looks like this a JWT application so there will be at most one.  So I think you want something
like:
[code]

Only problem is, that's for a plain JWS, but there's currently no (exported) way to get from a JWT to
the underlying JWS object.  I will add an optic for this.

[2018-06-14 13:49] frasertweedale commented on #64
@donatello does the referenced commit fix things for you?  The snippet in my earlier comment should work fine now.

Also note some work going on in a separate branch, that enhances the `JWKStore` (now called `VerificationKeyStore`) to allow for `IO` as well as access the headers and payload to help it choose/find/retrieve keys.  Let me know if you have thoughts about that approach.  Code here: htt

[2018-06-15 01:13] donatello commented on #64
@frasertweedale Yes, this worked, thank you.

Google's service publishes the pubkeys as an JSON key-value mapping object with a kid of the pubkey as the key. In my application I am using that to lookup the pubkey and only attempt to verify with that. Will the behaviour be the same with `VerificationKeyStore`? I would appreciate some sample code as I am not too familiar with lenses.

[2018-06-15 02:10] frasertweedale commented on #64
@donatello it's two paths to the same goal.  The haddock example in `Store.hs` at the branch linked above shows how you can look up a key on the file system, based on the `"iss"` claim in the JWT Claims Set payload.  For your use case, reading the `"kid"` from the JWS header (which is also available to the lookup routine), and retrieving they key from some URL is conceptually similar.  I might wri

[2018-06-15 05:02] #64 closed

[2018-06-15 05:04] frasertweedale commented on #62
See #63 for discussion of implementation.

[2018-06-15 05:05] frasertweedale commented on #63
Closing this.  #62 will take care of JWK construction from X.509 cert.  Thanks for your contribution @donatello.

[2018-06-15 05:05] #63 closed

[2018-06-17 04:44] frasertweedale opened #65 "replace (most) occurrences of String with Text"

[2018-07-06 10:40] frasertweedale commented on #44
Going to close this WONTFIX.  The only change we really need in relation to key filtering
is to exclude keys with the wrong usage indicators.

[2018-07-06 10:40] #44 closed

[2018-07-27 05:33] ecthiender opened #66 "Verifying JWT with shared secret results in invalid signature error when using secret length less than 256 bits"
When JWT verification is done via `verifyClaims` it results in `JWSInvalidSignature`, when using secret key length less than 32 characters (256 bits)

**Steps to reproduce**:

[code]

1. Go to https://jwt.io/#debugger-io?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4ifQ.8OB07dpDCXm3FBT5I7v64oX2XoTqpLsj7OSdDWX8k6s

2. Use a secret less than 32 characters long

[2018-07-27 06:45] frasertweedale commented on #66
See https://tools.ietf.org/html/rfc7518#section-3.2:

    A key of the same size as the hash output (for instance, 256 bits for
    "HS256") or larger MUST be used with this algorithm.  (This
    requirement is based on Section 5.3.4 (Security Effect of the HMAC
    Key) of NIST SP 800-117 [NIST.800-107], which states that the
    effective security strength is the minimum of the security strength

[2018-07-27 06:45] #66 closed

[2018-07-30 12:29] ecthiender commented on #46
Why can't `verifyClaims` function verify the size of the key and fail with `KeySizeTooSmall` ?

[2018-07-30 14:31] frasertweedale commented on #46
@ecthiender it's because there can be multiple keys that could be used to verify some signature, and there is not yet a way to propagate complete information about the verification results for particular keys.

I'll think about how the API could be enhanced to provide that.  If you have ideas, please share.

[2018-07-31 23:28] ecthiender commented on #61
I too have the same issue. I want to eventually get `JWK` from a PEM encoded bytestring.

I have been able to do this for RSA, by using `fromKeyMaterial`. Now, even if your `KeyMaterial` can be a `ECKeyMaterial ECKeyParameters`,  there is no way for me to construct a `ECKeyParameters`. Any help would be much appreciated.

[2018-08-01 13:05] CaptJakk commented on #61
I put in a PR that looks like it was verbally accepted yesterday but not
merged. I forked the repo and made the change if you need it ASAP. But
otherwise it looks like it will be merged soon
On Tue, Jul 31, 2018 at 5:28 PM Anon Ray <notifications@github.com> wrote:

[2018-08-02 11:37] ecthiender commented on #61
Thanks! I will look into your PR if it doesn't get merged soon.

[2018-08-02 15:17] CaptJakk commented on #61
My changes to this library: https://github.com/tekul/jose-jwt/tree/master/Jose
were added yesterday. This should do the exports that you need.

[2018-08-06 11:29] ecthiender commented on #61
@frasertweedale what are your plans/ideas for exposing the constructor `ECKeyParameters` ? Do you have any particular reservation?

[2018-11-08 14:51] mackler opened #68 "JWSInvalidSignature on token verified by jwt.io"
I generated a token (several actually) to use for testing a PostgREST application, but I am neither able to get it to work nor to figure out why.

This token:
`eyJraWQiOiJ0ZXN0IiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiJhbGljZSIsImF1ZCI6Ijk5amV5MEZEYW5SM2NKU09WTVNWMzQ4WDRpemttWkp4IiwiaHR0cDovL3Bvc3RncmVzdC9yb2xlIjoibm90ZXNfdXNlciIsImlzcyI6Imh0dHBzOi8vbWFja2xlci5vcmcvIiwiZXhwIjoxNTQxNzMwMjg1L

[2018-11-09 04:20] frasertweedale commented on #62
Fixed in e9e499f8d9b459a25b641665b1a156416c31796e and subsequent commits.

[2018-11-09 04:20] #62 closed

[2018-11-09 09:31] mackler commented on #68
um that "tool" would have been my own code. "How hard could it be to make a JWK?" I thought, "It's just JSON!"  Okay, I'm now using the Nimbus library and it's working swimmingly.  Thank you for you prompt and accurate reply--and correctly-validating library. My apologies for distracting you with this.

[2018-11-09 10:32] frasertweedale commented on #68
@mackler no worries mate.  It's good to be aware of possible interop issues.  And even better to be aware where the error messages etc from hs-jose are not up to scratch.  Granted, the example programs are just simple demos I knocked together but doesn't hurt to improve them.  I'm pushing a few commits to master to improve the error messages and document in the README the behaviour w.r.t. leading

[2018-11-09 10:33] frasertweedale commented on #68
Commits to address this issue:

* 88e3639 example: improve error reporting
* ad6ff4b improve error reporting when parsing JWKs
* 89b03ad README: add note about invalid JWKs with leading null byte

Closing this issue now.

[2018-11-09 10:33] #68 closed

[2018-11-13 04:41] tmcgilchrist opened #69 "MonoLocalBinds warning"
Building with GHC 8.2.2 and treating warnings as errors I get the following:

[code]

[2018-11-14 20:30] tmcgilchrist commented on #65
Hey @frasertweedale is there a general pattern you want here for getting rid of `string`?
Replace it everywhere that is possible?

[2018-11-14 23:49] frasertweedale commented on #65
Pretty much.  I changed a bunch of `String` to `Text` in a commit a little while ago so I think that might have been most of the "easy" ones.  Some places (i.e. parser errors) cannot be changed from `String` unfortunately.

[2018-11-15 00:53] frasertweedale commented on #65
Having a quick glance, places using String are:
- `AlgorithmMismatch` constructor
- `CompactDecodeError` constructor
- `JSONDecodeError` constructor (used for aeson decode errors; leave as string)
- internally in the `URI` type (can't do much about that, besides stop using that lib.  I can live with it, but I'm open to suggestions for a better lib)
- `JWTClaimsSetDecodeError` (a glorified aeson de

[2018-11-15 00:53] #65 closed

[2018-11-15 00:55] frasertweedale opened #71 "improve `AlgorithmMismatch` reporting"
Strings suck.  Create a dedicated type to encode an algorithm mismatch and change the `AlgorithmMismatch` constructor to use it.

[2018-11-15 00:58] frasertweedale opened #72 "improve `CompactDecodeError` reporting"
Strings suck.  Create a dedicated type to represent a compact representation decoding error and change the `CompactDecodeError` constructor to use it.  Cases of JSON (aeson) decoding errors when processing a compact object should throw `JSONDecodeError`.

[2018-11-15 00:59] frasertweedale commented on #65
- https://github.com/frasertweedale/hs-jose/issues/71
- https://github.com/frasertweedale/hs-jose/issues/72

[2018-11-16 04:53] tmcgilchrist opened #73 "JWK ToJSON instance"
I am consuming a token generated by a third party as part of an application and am running into an issue where this `FromJSON` instance is failing. The field it is trying to decode is longer than `20` and running afoul of this instance.

https://github.com/frasertweedale/hs-jose/blob/master/src/Crypto/JOSE/Types.hs#L168-L172

The field is `_jwkX5t` in the JWK data type here
https://github.com/fras

[2018-11-16 05:06] tmcgilchrist commented on #73
I think I am running into one of the interoperability issues with Auth0

https://github.com/frasertweedale/hs-jose/blob/88e3639f5e0768481fab3b505cde012bbacaa6a8/README.md#interoperability-issues

[2018-11-16 05:40] #73 closed

[2018-11-16 23:36] #72 closed

[2018-11-20 02:39] frasertweedale opened #74 "X448/Ed448 support"
Implement X448 and Ed448.

[2018-11-28 06:13] tmcgilchrist commented on #54
Is it worth linking that snippet along side the auth0 being broken comment?

[2018-11-29 00:07] frasertweedale commented on #54
@tmcgilchrist good idea; done: https://github.com/frasertweedale/hs-jose#interoperability-issues.

[2018-12-04 08:37] ecthiender opened #75 "CompactDecodeError "expected NonEmpty a, encountered String" when JWT includes `x5t`"
## Setup
I have a JWT [1], which has a `x5t` parameter in the header. Which is base64url-encoded. According to https://tools.ietf.org/html/rfc7515#section-4.1.7

   base64url-encoded SHA-1 thumbprint (a.k.a. digest) of the DER
   encoding of the X.509 certificate [RFC5280] corresponding to the key
   used to digitally sign the JWS.

The value of the `x5t` parameter is `g5ZleTFZSqkxwQSbQ8eQFqfoxOE%

[2018-12-04 14:49] frasertweedale commented on #75
Hi @ecthiender,  thanks for reporting.

The message is indeed cryptic.  I will need to investigate why such a poor error is returned.

But the input is invalid: `g5ZleTFZSqkxwQSbQ8eQFqfoxOE%3D` is not a valid base64url value.  Specifically, `%3D` is percent-encoded `=`.  It should be stripped from the value.

I'll leave this open for now as a reminder to investigate why the error message sucks so

[2018-12-05 06:20] ecthiender commented on #75
@frasertweedale ok that was me trying to be smart and followed some online blog (https://redthunder.blog/2017/06/08/jwts-jwks-kids-x5ts-oh-my/). The original `x5t` indeed did not have the `%3D` encoding. It was just `g5ZleTFZSqkxwQSbQ8eQFqfoxOE`. Even then I get the exact same error.

You can follow the issue here: https://github.com/hasura/graphql-engine/issues/983#issuecomment-437957258

Let me

[2018-12-05 16:22] frasertweedale commented on #75
@ecthiender ok, it's a bug that has already been fixed (https://github.com/frasertweedale/hs-jose/commit/32c3efdba2b3520a8052ba2fe07ab04c073b8ec9) but the fix hasn't made its way into a release yet.  I'm planning to release v0.8 next week.

[2018-12-05 17:48] ecthiender commented on #75
Thanks for your time and the fix. Eagerly waiting for the release (as this affects our users). :)

[2018-12-18 12:56] frasertweedale commented on #75
Released v0.8.0.0.  Closing this ticket now.

[2018-12-18 13:00] #75 closed

[2018-12-26 15:08] mschristiansen opened #76 "Details on calculation of thumbprint"
I'm busy with a client library for Let's Encrypt and need to authorize by computing a base64url encoded thumbprint of the key, but the server is rejecting my result. I wonder if the note about prepended zero octets in the specifications below has anything to do with it.

   The "Thumbprint" step indicates the computation specified in
   [RFC7638], using the SHA-256 digest [FIPS180-4].  As noted in

[2018-12-26 16:09] mschristiansen commented on #76
My answer was elsewhere in the specifications.

[2018-12-26 16:09] #76 closed

[2019-01-16 10:11] reite opened #78 "jose-0.8.0.0 will not build on windows because of unix dependency"
When trying to build a package that depends on jose on windows with stack I get this error:

[code]

The unix package is not supported on windows so this is not surprising. It seems to me that the unix package is only used in the example on this line  to check if a path is a directory: https://github.com/frasertweedale/hs-jose/blob/71274bf64c0600c1d877152173a08a5bff7adf4d/example/Main.hs#L89

This

[2019-02-04 04:00] frasertweedale commented on #78
@reite there is a commit (https://github.com/frasertweedale/hs-jose/commit/b1260b732c548b3e42a64cc1551121b7533d0118) on `master` that disables building the executable by default.  (That is the component that depends on *unix* package).  So I consider this fixed and will
mark it closed.

But for now you should be able to `cabal new-build lib:jose` to build only the library, and not the executable.

[2019-02-04 04:00] #78 closed

[2019-02-19 06:25] rprije opened #80 "Problems compiling to Android"
I'm using nix to cross-compile JOSE targeting Android and am getting the following error:

[code]

I attached my gzipped nix derivation which I hope is complete enough information to understand how it's attempting to do the build. It also failed when attempting 0.7.0.0.

[dq4ayr9q81qlmndwszsf7bnl6hjc5dci-jose-0.8.0.0-armv7a-unknown-linux-androideabi.drv.gz](https://github.com/frasertweedale/hs-jos

[2019-02-19 07:55] frasertweedale commented on #80
Probably won't get a chance to look at this for a little while (some days, at least).  Have you tried with other GHC versions?

[2019-02-21 10:59] rprije commented on #80
Not yet. I've been having a little trouble figuring out how to change the GHC version on this platform. I'll follow up again if I figure it out.

[2019-03-08 02:24] cbeav opened #81 "OverlappingInstances in simple ValidationSettings usage"
Trying to do a simple JWT validation, and looking to use the `AnyValidated` policy. Here's what I've got:

[code]

Simple enough. But the instance definitions for `HasValidationSettings` are giving me some trouble:

[code]

This isn't a pattern I've seen before. Is there some trick to disambiguating the instances (exported from the same module), or am I missing something more basic here. Much appr

[2019-03-08 15:48] cbeav commented on #81
For now, I've move the `Crypto.JOSE.JWS` logic into its own file, to disambiguate the instances. But the problem still remains that I'm not sure how the instance in `Crypto.JWT` would ever be used if needed :)

[2019-05-26 19:57] robx commented on #72
Just to note that this change causes a rather redundant error formatting when using show:

Instead of

    JWSError (CompactDecodeError "expected 3 parts, got 2")

I now see

    JWSError (CompactDecodeError CompactDecodeError: Expected 3 parts; got 2)

in PostgREST output. (I'm not sure this is wrong, and should maybe be fixed by not just showing errors, but it does look a bit redundant.)

[2019-05-26 23:33] frasertweedale commented on #72
@robx thanks, it's a bit of a brain-o, I pushed to master a commit improving this but I'm not in a hurry to release it, it will just get picked up in a future release.

[2019-07-05 19:28] robx opened #83 "windows build failure due to example's unix dependency (version 0.8.0.0)"
I see postgrest build failures on windows since the update to 0.8.0.0:

[code]

I see that that has been fixed in master by adding a flag -- would you consider making an 0.8.0.1-release on hackage that includes this?

[2019-07-13 11:25] frasertweedale commented on #83
Ta-da! https://hackage.haskell.org/package/jose-0.8.1.0

Thanks for your patience.  Let me know if there are further issues.

[2019-07-13 11:25] #83 closed

[2019-07-30 13:30] ecthiender opened #84 "audience parsing as "JSON" fails if it contains a colon (:)"
The docs (https://hackage.haskell.org/package/jose-0.8.0.0/docs/Crypto-JWT.html#t:StringOrURI) says using the `IsString` instance with a `:` in a string will fail, if it's not a URI.

But is it applicable for `FromJSON` instance as well?

When I use the following JSON payload and try to decode it as a `ClaimsSet`:
[code]
[code]
Results in:

[code]
### Expected
I was expecting this to parse success

[2019-07-30 14:07] frasertweedale commented on #84
Thank you for the report.  It is not a bug; this is the required behaviour.
Per https://tools.ietf.org/html/rfc7519#section-4.1.3:

    In the general case, the "aud" value is an array of case-
    sensitive strings, each containing a StringOrURI value.  In the
    special case when the JWT has one audience, the "aud" value MAY be a
    single case-sensitive string containing a StringOrURI value.

[2019-07-30 14:07] #84 closed

[2019-07-30 15:34] ecthiender commented on #84
@frasertweedale thanks for the pointer :+1:

[2019-07-31 03:55] frasertweedale commented on #84
@ecthiender yeah the message can probably be improved; it will have to be done in the `instance FromJSON Audience` because of the silly "if there's only one it can be just the string" special case.

[2019-08-01 09:32] domenkozar opened #85 "Expose JWT serialization/deserialization primitives"
Sometimes it's useful to just extract JSON out of JWT when you don't have private key to verify.

Currently all JWT constructions are hidden, so it makes it hard.

[2019-08-01 10:30] frasertweedale commented on #85
Thanks for the report @domenkozar.

It's a deliberate decision of the library not to provide access to unverified data.
Of course, you can always decode it yourself.  It's extra work, but it should be; libraries should not make it easy for people to take shortcuts with security.

[2019-08-01 10:30] #85 closed

[2019-08-01 10:35] domenkozar commented on #85
Security has a threat model. In our case we know JWT is generated securely so there's no need to verify it.

But the client (who doesn't have private key to verify) uses information from JWT.

[2019-08-01 10:42] frasertweedale commented on #85
OK, well the client can decode the unverified JWT and read it themselves.  Some of the instances available in the library may help with that (e.g. there is `instance FromJSON ClaimsSet`).  But the shortcut you desire, it violates security principals of this library and will not be implemented.

[2019-08-12 17:47] steve-chavez commented on #83
@frasertweedale Sorry, could you add a git tag for 8.1.0? We'd like to pin jose by tag instead of commit for a static build of postgrest using Nix.

[2019-08-12 22:32] frasertweedale commented on #83
@steve-chavez done.

[2019-08-22 23:05] diogob commented on #61
@frasertweedale am I missing something or this means that I cannot validate a ES512 JWT having only it's public key? I was going to build a `JWK` but got stuck on the `fromKeyMaterial` just like described above. Is there a different path that I'm overlooking to do it, considering my public key is base64 encoded?

[2019-08-24 17:04] diogob commented on #61
For future reference, the simplest way I found to accomplish the above was to use a JWK representation and the `FromJSON` instance. Doing so made it very simple to produce the JWK type for both the keypair and the public key alone.

[2019-10-09 13:42] gwils opened #86 "Support GHC 8.8"
jose doesn't currently build with GHC 8.8. Please make it build and cut a new release.

[2019-11-06 02:20] #86 closed

[2019-11-26 14:41] arianvp opened #89 "COSE support?"
there is a "new" version of JOSE called COSE which is based on CBOR instead of JSON https://tools.ietf.org/html/rfc8152

it is used; for example, in the new https://www.w3.org/TR/webauthn/ browser API to talk to security tokens.

COSE is sadly not a plain copy of JOSE in CBOR, but has also made some fixes to the datatypes that weren't too nice in JOSE (according to the RFC).  Would you be interest

[2019-11-27 00:19] frasertweedale commented on #89
@arianvp on the one hand, I think it makes sense to *not* have another library.  Or perhaps the COSE library could wrap this one, to avoid reimplementing everything.

On the other hand, I have no need or desire to implement COSE right now.  If you want to tackle it I will be happy to assist.

[2020-01-04 00:10] pjones opened #91 "Remove orphan instance for MonadRandom"
I have a `MonadRandom` instance in my application that looks like this:

[code]

This generates an overlapping instance error due to the vagueness of the instance in `hs-jose`.

I'm not sure why this package needs the orphan instance but is there a way to remove it or use a `newtype` wrapper?

[2020-02-12 01:23] frasertweedale commented on #91
It is needed by the test suite.  I don't object to removing it (or rather, moving it to the test suite where it is actually used).  However I don't plan on cutting a new release any time soon.  So in the mean time, you can probably replace your `MonadRandom` instance with an instance of `MonadTrans MyTransformer` and the `MonadRandom` instance exported by *jose* will be used.

[2020-02-12 14:55] pjones commented on #91
@frasertweedale Is there anything I can do to help?  I can submit a PR and prepare a release if that's helpful.

[2020-02-12 23:06] frasertweedale commented on #91
@pjones the change is already committed on `master`. I just don't think there's enough to release (removing a type class instance warrants more than a patch-level release).

Per my previous comment, you should be able to instance `MonadTrans` for `MyTransformer` instead of `MonadRandom`, and then be able to use the `MonadRandom` instance from *jose*.

[2020-02-12 23:12] frasertweedale commented on #91
@pjones sorry for misleading you - I'm actually going to revert the change I made yesterday.  The example programs and typical application code rely on `MonadRandom`.  Ideally we could see the `instance (MonadRandom m, MonadTrans t) => MonadRandom (t m)`  in *cryptonite* itself (where `MonadRandom` is defined), so that we can avoid orphan instances anywhere.  I'll investigate whether that is possi

[2020-02-13 15:37] pjones commented on #91
Thank you for trying to find a solution to this.

The reason I can't use the `MonadRandom` instance from jose is because the the transformer I want to take it from [has a concrete implementation](https://github.com/pjones/iolaus/blob/91c57d9bd6af90fd20286231b9b4513d7cc8e058/crypto/src/Control/Monad/Crypto/Cryptonite.hs#L130) via Cryptonite.  If I used the instance from jose it would delegate back

[2020-04-26 13:06] ocramz commented on #54
IIUC this has been fixed upstream with signing key rotation :

https://community.auth0.com/t/jwk-certificate-thumbprint-is-invalid/16070/22

[2020-04-26 13:17] frasertweedale commented on #54
Wow!  Only took 2.5 years...  Thanks for the update @ocramz.

[2020-08-02 20:47] frederikprijck opened #96 "Add the possibility to provide a leeway to the IAT Validation"
Today I stumbled upon a situation where my tokens where issued in the future by Auth0 (10sec in the future). As the issue existed on multiple devices, it looks like the issue was not on my end. After a few hours, the problem was also magically revolved.

I understand that this is an edge case and it shouldn't happen. However, I'd argue that if it happens I don't want it to take my app down.

Looki

[2020-08-03 01:07] frasertweedale commented on #96
@frederikprijck did you try setting the allowed skew in the `JWTValidationSettings`?  This is very much supported already.

[2020-08-05 10:22] frederikprijck commented on #96
@frasertweedale Wow, I'm so sorry for opening an issue for this. I missed that (in my defense, I'm not great at reading Haskell 🙈 ).

Closing this issue.

[2020-08-05 10:22] #96 closed

[2020-08-05 11:09] frasertweedale commented on #96
No worries @frederikprijck.

[2020-08-15 04:39] frasertweedale commented on #80
Closing due to inactivity.  @rprije or anyone else: if this is still occurring with recent GHC, please reopen.

[2020-08-15 04:39] #80 closed

[2020-09-05 16:00] gtkirankumar31 opened #97 "JWS Signature verification failing but same jws works in NodeJs and Java"
Implemented jwsVerify' and tried to verify the JWS signature, but getting **JWSInvalidSignature**
But same signature is able to get verified by java and nodejs code.

**Sample Public Key:** (`pubKey.txt`)
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAs5IoeTMM+8/XPApUKiqzTKqmUN5+VKMU7cpEuodckJCHAKUcn1XHGN54ymqCgJdRLIHMX316S+1PpdGJ3vvVfgEn0ES81YafIR7e9b8Tc8lIQtcQ3tkNmHPoxrjm

[2020-09-05 18:16] frasertweedale commented on #97
Can you please provide Haskell code that reproduces the issue?

[2020-09-05 18:23] gtkirankumar31 commented on #97
[code]

[2020-09-05 18:30] frasertweedale commented on #97
Where are `pemParseBS`, `pemToPubKey` and related functions defined?

[2020-09-05 18:32] gtkirankumar31 commented on #97
I have updated the code with proper imports.

[2020-09-05 18:34] gupta-ujjwal commented on #97
Also facing the same problem. Tried reading the public key from a file in PEM format instead.

https://gist.github.com/gupta-ujjwal/9c1ebca57c727f8cb9419093292d6b2e#file-josesigning-hs-L115

[2020-09-05 18:35] frasertweedale commented on #97
Thanks for the info friends, I'll analyse it.  Got a busy day so not sure if I'll get an answer for you straight away.

[2020-09-05 19:50] frasertweedale commented on #97
With respect to the objects provided by @gtkirankumar31, the JWS object is not valid. base64url encoding
must not include padding (trailing `=` characters).  In particular, if the signer computes the signature over the encoded payload *including padding* then the signature is over the wrong data.  I suspect this is the case here.  Whatever program created that JWS object has very wrong behaviour.

[2020-09-05 20:15] frasertweedale commented on #97
I'm also see a behaviour where protected header is being reserialised with keys in a different order.  I don't know if related to this issue or not.

[2020-09-05 20:24] frasertweedale opened #98 "re-serialising JWS with protected header discards raw header"
When deserialising the raw protected header is recorded.  But serialising ignores the raw protected header.  If hs-jose (aeson) serialises the protected header params in a different order from the original signer, the resulting JWS is no longer valid.

Expected behaviour: re-serialising JWS must preserve original protected header.

_Originally posted by @frasertweedale in https://github.com/fraser

[2020-09-05 20:25] iamnewspecies commented on #97
It is generated by Android code. Looks URL safe.
[code]
One more thing is depending upon the length of the payload it succeeds or fails.

[2020-09-05 20:37] frasertweedale commented on #97
That pretty much confirms that the signer is signing the wrong thing.  i.e. padding chars are in the signing input, and they should not be there.

I'll leave this ticket open, to make hs-jose more strict to reject objects with invalid base64url due to padding.  But this problem is definitely on the signer end.

[2020-09-06 07:59] iamnewspecies commented on #97
The problem was in our understanding of Base64 encoding. We added NO_PADDING on Android and it worked.

[2020-09-06 08:04] frasertweedale commented on #97
@iamnewspecies thanks for confirming.  I will close this ticket and open a separate one for hs-jose to reject objects with padding in the base64url data.

[2020-09-06 08:04] #97 closed

[2020-09-06 08:05] frasertweedale opened #99 "decoding accepts base64url data with padding (`=`) chars"
With respect to the objects provided by @gtkirankumar31, the JWS object is not valid. base64url encoding
must not include padding (trailing `=` characters).  In particular, if the signer computes the signature over the encoded payload *including padding* then the signature is over the wrong data.  I suspect this is the case here.  Whatever program created that JWS object has wrong behaviour for in

[2020-09-06 08:07] frasertweedale commented on #97
@iamnewspecies @gtkirankumar31 @gupta-ujjwal thanks for promptly providing all requested info.  Even though the problem was not on my end, it was actually a pleasure to assist you.  You are model users/contributors.  Keep up the good work :+1:

[2020-09-06 08:16] iamnewspecies commented on #97
For others who may face this issue, till @frasertweedale adds the fix for decoding you may have to add the verification at your end to check if it is the right encoding.

RFC which talks about this.
https://tools.ietf.org/html/rfc4648#section-5

https://hackage.haskell.org/package/base64-0.4.2.2/docs/Data-Text-Encoding-Base64.html#g:3
or
https://hackage.haskell.org/package/base64-0.4.2.2/docs/Data

[2020-09-06 08:21] frasertweedale commented on #97
RFC 4648 doesn't seem to REQUIRE padding chars to be omitted in base64url encoding.  My reading is that they are permitted but not required.  But for the avoidance of inevitable compatibility issues, the JOSE specs require that padding chars be omitted.  e.g. from https://tools.ietf.org/html/rfc4648#section-5:

[code]

[2020-09-06 08:49] panva commented on #97
Fought that battle on multiple fronts and its a lost cause. Best you can strive for is that your producing code is compliant, whether you accept or reject padded base64url or just base64 has no security implication and is simply help for developers stuck with having to accept jws from non compliant producers, e.g. aws elb, cloudfront, etc.

Rejecting these in some language has a performance impact

[2020-09-06 09:08] frasertweedale commented on #97
@panva appreciate your point of view and lived experience.  But because I don't work on this library for $$$ or any commercial interest, if the breakage is somewhere else I'll usually draw the line there.

Sometimes people/vendors do fix their broken code, too: https://community.auth0.com/t/jwk-certificate-thumbprint-is-invalid/16070/21 :)

[2020-09-06 09:26] panva commented on #97
@frasertweedale I am 100% standing behind your approach, you should run your OSS the way you want to.

My point was not to come in and say you should be accepting what is clearly non-conform or put more work on your plate. It was merely to discuss that one quote - trying to bring some perspective into a topic which isn't as black and white as that quote seemed to have suggested. This has a rolling

[2020-09-06 09:34] frasertweedale commented on #97
:fist_raised: @panva

FWIW I worked on a commercial PKI product for 6 years and believe me, I know about compromise.  OTOH, empathetically *enabling your users/customers to understand* the technical details and push back or accept that the problem is on their end, can get good results.  Not always, but more often many people expect.

[2020-09-28 13:45] #98 closed

[2020-09-28 13:45] #99 closed

[2020-11-12 22:34] phadej opened #100 "fromCompact fails if there are Base64 padding characters."
I have to validate tokens generated by 3rd party (=AWS) which contains padding characters in their compact form.

The `base64-bytestring-1.2.0.0` `decode` works leniently about padding:

[code]

---

Relevant spec portions: https://tools.ietf.org/html/rfc7515#section-2

[code]

[code]

[2020-11-13 03:14] frasertweedale commented on #100
@phadej thanks for the report.

Well, these are not valid tokens.  I am not going to change *hs-jose* to accept these invalid tokens because:

- The JOSE spec is unambiguous: padding chars are not to be included.  I don't get any satisfaction or compensation spending my cycles to work around Big Cloud's basic errors.  It is their issue to fix, and they have resources to do it.

- More importantly,

[2020-11-13 03:14] #100 closed

[2020-11-13 03:19] frasertweedale commented on #100
Not sure if it is the same service but here's a report of token from *some* AWS service that exhibits this issue and, indeed, confirms that validation is also busted because the padding appears in the signing input:

https://stackoverflow.com/questions/60246585/unable-to-verify-jwt-coming-from-aws-alb-authentication

[2020-11-13 03:21] frasertweedale commented on #100
Another report: https://github.com/auth0/node-jws/pull/84

[2020-11-13 10:39] phadej commented on #100
I agree.

It would be nicer if JWS spec elaborated the BASE64URL padding issue using `MUST`-RFC2119. E.g. saying explicitly that compact forms with padding characters in base64url encoding MUST be rejected. I don't find it completely unambiguous that padding characters must not be included. It can be interpreted as they *could* and they SHOULD (which is not strict requirement) be omitted. Again, t

[2020-11-13 11:13] frasertweedale commented on #100
Personally I do not see any ambiguity, but RFC2119 language would be an improvement.
You can report errata here: https://www.rfc-editor.org/errata.php

[2021-06-28 11:46] Kleidukos opened #101 "Moving away from `lens` to provide classy optics"
After a discussion with @frasertweedale, it has been decided to explore available options to end the dependency on `lens` for the API, while still retaining the classy optics that are not moving anywhere soon.
There is also a plan to get rid of TH for optics generation.

## Points to discuss:

* Control.Lens.Cons.Cons is used throughout the API. This will incur an API breakage, but won't be a show

[2021-06-28 11:53] frasertweedale commented on #101
@Kleidukos thanks for filing.  I'm at end of my day but will return tomorrow and set out all the API breaks I can think of, for discussion on how to proceed, and some rough ideas about the order in which to do things.

[2021-07-05 06:07] frasertweedale commented on #101
@Kleidukos sorry for the delay, I should manage to get to it in the next couple days.

[2021-07-08 02:10] frasertweedale commented on #101
OK, sorry it took so long.  Rough plan:

1. Define *lens*-compatible optic type synonyms and helper functions in new module `Crypto.JOSE.Lens`.  The module can be exposed.  It's fine to only implement what *jose* actually uses.
1. In the **library only**, replace uses of the *lens* types, synonyms and functions with our own.  But do not change the definitions of any of the optics until later steps

[2021-07-12 12:20] Kleidukos commented on #101
@frasertweedale I can't say I'm the most comfortable with the codebase, but if you're available for some pairing one day, I would love that. :)

[2021-07-12 23:57] brandon-leapyear opened #102 "decodeCompact . encodeCompact /= pure"
GHCi Repro:
[code]
The above returns `Right True` in `lts-18.0` and `Right False` in `nightly-2021-07-12`

[2021-07-13 00:36] frasertweedale commented on #102
Thank you for the report.  Can you please also print the encoded tokens?

[2021-07-13 00:39] brandon-leapyear commented on #102
By virtue of `genJWK`, it'll be different each time, but here's an example from a run:
[code]
Notably, when decoding it, I get the following in the nightly snapshot
[code]
as opposed to lts-18:
[code]

[2021-07-13 01:00] frasertweedale commented on #102
Very strange.  I probably won't get around to investigating it until the weekend.

[2021-07-13 01:01] frasertweedale commented on #102
Can you please advise the platform, default character set, etc?

[2021-07-13 01:03] brandon-leapyear commented on #102
Weirdly, it might be some race condition in the applicative `FromJSON (JWS Identity p a)` implementation.
[code]
Running the second line repeatedly sometimes shows `Base64Octets "{}"` and sometimes shows `Base64Octets "\160)"`, whereas repeatedly running
[code]
consistently shows `Base64Octets "{}"`.

It's strange; it _seems_ like somehow the `parseJSON` instance of `Signature` is affecting how `o

[2021-07-13 01:10] brandon-leapyear commented on #102
More data points:
Rewriting with monadic actions doesn't help, still flakily showing both `{}` and `\160)`:
[code]
But doing the `parseJSON` first (either applicative or monadic) consistently shows `{}`:
[code]

[2021-07-13 01:30] brandon-leapyear commented on #102
No, it's the normal one, before they switched to ARM

On Mon, Jul 12, 2021, 6:28 PM Fraser Tweedale ***@***.***>
wrote:

[2021-07-13 01:46] frasertweedale commented on #102
@brandon-leapyear what happens if you try:

[code]

Does it give consistent results?

[2021-07-13 02:10] brandon-leapyear commented on #102
Yeah, it's consistently `e30`

[2021-07-13 02:36] frasertweedale commented on #102
Baffling.  I'll try and find time to set up an environment and repro later this week.

[2021-07-13 03:59] brandon-leapyear commented on #102
Got it repro'd here: https://github.com/frasertweedale/hs-jose/compare/master...brandon-leapyear:chinn/decode-encode

All the existing tests + the new test passes until switching the compiler to GHC 9. Then it gets two test failures: "JWK round-trip" and the new "JWT compact round-trip" test I wrote. (Not sure where to put the new "JWT compact round-trip" test, or if it should be broken down even

[2021-07-13 16:37] brandon-leapyear commented on #102
Ah yes, it's probably `paresB64Url`. The following results are consistent:
[code]

[2021-07-13 23:52] frasertweedale commented on #102
@brandon-leapyear I am able to reproduce it on Linux with GHC 9.0.1.  Still, I don't have much time to devote to analysing this right now.  It might take a little while.

[2021-07-13 23:58] frasertweedale commented on #102
@brandon-leapyear it seems the issue is in the *base64-bytestring* library itself:
[code]

[2021-07-14 00:04] frasertweedale commented on #102
@brandon-leapyear are you happy for me to push your improvements to the jose test suite?

[2021-07-14 00:35] brandon-leapyear commented on #102
Oh interesting. Yeah, feel free to merge/cherry-pick any of my changes. Did
you open an issue in base64-bytestring, or shall I?

On Tue, Jul 13, 2021, 5:04 PM Fraser Tweedale ***@***.***>
wrote:

[2021-07-14 00:52] frasertweedale commented on #102
@brandon-leapyear I opened it: https://github.com/haskell/base64-bytestring/issues/44

[2021-07-14 01:17] frasertweedale commented on #102
@brandon-leapyear I think I have a fix: https://github.com/haskell/base64-bytestring/pull/45

[2021-07-14 01:34] frasertweedale commented on #102
I will leave this ticket open until:

- I push the test improvements contributed by @brandon-leapyear
- *base64-bytestring* merges a fix and cuts a new release
- I bump *jose* deps to depend on fixed *base64-bytestring* and cut a new release.

[2021-08-02 22:21] emilypi commented on #102
I've provided a fix in base64-bytestring#46 that I think fixes this. Could you folks confirm that this works on your end?

1. Add a `cabal.project` (or stack equivalent) pinning `base64-bytestring` to 4114eabcc61a44d406583d90fd4bff7bc28aed40:

[code]

Next, build the project and confirm the fix works:

[code]

[2021-08-09 18:04] brandon-leapyear commented on #102
I've been using the fix in haskell/base64-bytestring#45, which works. Just verified that the fix in haskell/base64-bytestring#46 also seems to work.

[2021-08-17 06:34] #102 closed

[2021-08-17 06:36] frasertweedale commented on #102
New release: https://hackage.haskell.org/package/jose-0.8.4.1

Thanks @brandon-leapyear for all your assistance with this issue!

[2021-11-29 05:30] juhp opened #105 "build fails with aeson-2.0"
[code]

[2021-11-29 06:37] frasertweedale commented on #105
jose-0.8.5.1 constraint aeson to < 2.0: https://hackage.haskell.org/package/jose-0.8.5.1/src/jose.cabal

jose-0.9 supports `aeson >= 2.0.1.0 && < 3`: https://hackage.haskell.org/package/jose-0.9/src/jose.cabal

How is it that jose-0.8.5.1 is being built against aeson 2.x, contrary to the specified bounds?  I assume this is a *stack* thing?  In any case, the fix should be to bump to jose-0.9.  This

[2021-11-29 15:38] juhp commented on #105
Okay thanks - ya I was testing with current Stackage Nightly versions

[2021-11-29 15:38] #105 closed

[2022-03-31 21:35] parsonsmatt opened #106 "Another orphan instance issue"
We took quite a while debugging a build error where the `Test.QuickCheck.Instances` instance of `Arbitrary Text` was causing problems, and we could not figure out where it was coming from. After quite a lot of investigating, it was revealed to come from this package, where the module is imported [here](https://github.com/frasertweedale/hs-jose/blob/04280f92dd3443894b2231ac29448146c4bc0e20/src/Cryp

[2022-04-07 11:45] frasertweedale commented on #91
Reopening.  Gonna deal with this properly, at long last.

[2022-04-07 11:58] #106 closed

[2022-04-07 12:56] parsonsmatt commented on #106
Thank you!

[2022-04-08 09:56] frasertweedale commented on #91
Seeking feedback on proposed solution: https://github.com/frasertweedale/hs-jose/commit/551e57b4d92fa32a34851cff82e31d81d4de16ef.  The diff in the `test/` and `example/` subdirectories gives an idea of what consumers will need to do to migrate.  In most cases, it is sufficient to replace `runExceptT` with `runJOSE`.

[2022-04-08 11:30] hdgarrood commented on #91
Looks good to me! I’d suggest getting rid of the -fno-warn-orphans pragmas in src/ so that you get warnings if there are any other orphans in there.

[2022-04-09 03:09] frasertweedale commented on #91
Thanks, I updated the commit.  Some of the `-fno-warn-orphans` pragmas are still required to suppress warnings about overlapping instances.  I may try to address that in subsequent commits.

[2022-04-10 23:16] #91 closed

[2022-04-10 23:18] frasertweedale commented on #91
I merged the change in commit https://github.com/frasertweedale/hs-jose/commit/b163ce277602905c97a318ef5982ba6e462f3ea0.  I plan to cut a new release in about one week.  In the meantime please share any more feedback about the change.

[2022-04-13 08:14] #74 closed

[2022-04-13 13:17] #46 closed

[2022-04-13 23:24] frasertweedale commented on #81
I believe that 49c327e604df98b66d8510387f6dfe6e4f54e811 has resolved this issue.
If not, please re-open and include code that demonstrates the problem.  Thanks!

[2022-04-13 23:24] #81 closed

[2022-04-16 01:50] frasertweedale commented on #71
Eh, I can live with it.

[2022-04-16 01:50] #71 closed

[2022-04-16 01:58] frasertweedale commented on #61
`ECKeyParameters` constructor is not exported due to the possibility of constructing a value where the point is not on the given curve.  Signature forgery attacks are possible if you can induce the verifier to use such an invalid key for verification.

We now have `Crypto.JOSE.JWA.JWK.ecParametersFromX509`, which deals with the ASN.1 serialisation of EC keys used in X.509.  `Crypto.JOSE.JWK.fromX5

[2022-04-16 01:58] #61 closed

[2022-05-20 17:06] sjakobi opened #107 "Compatibility with mtl-2.3"
[code]

Note that some dependencies aren't compatible yet, e.g. https://github.com/haskell-tls/hs-certificate/issues/129.

[2022-05-21 04:13] frasertweedale commented on #107
I'll wait until next release of mtl-2.3.x with the fix for https://github.com/haskell/mtl/issues/117, as well as for *hs-certificate* to unbreak (make the restoration of `ExceptT` export will suffice for that).  Then I should be able to properly address this.

[2022-05-21 05:25] frasertweedale commented on #39
Working on this...

[2022-05-24 20:02] hasufell opened #108 "Alternative to cryptonite?"
I don't want to use cryptonite and other related libraries. There's some discussion about that here: https://mail.haskell.org/pipermail/libraries/2020-August/030671.html

So... can someone say if there's a way to switch out cryptonite for something else and maybe put it behind a cabal flag?

[2022-05-25 01:48] frasertweedale commented on #108
Is there an alternative library that provides all the primitives JOSE needs?

That's the first question.  Even if there is, it would be a huge undertaking to implement.
I would need to be paid (how much, I don't know, I can only scope the work after I see
the interface of the library(/ies) that offer all the types and primitives needed).

[2022-05-25 10:06] hasufell commented on #108
Probably the only one is https://hackage.haskell.org/package/HsOpenSSL

What primitives does JOSE need exactly?

[2022-05-27 01:32] frasertweedale commented on #108
For JWS & signed JWT:

- operations: signing, verification, hmac, keygen, read key
- algs: RSASSA-PKCS1v1.5, RSASSA-PSS w/ MGF1, ECDSA (nistp256, nistp384, nistp521), SHA256, SHA384, SHA512, EdDSA (Ed25519, Ed448)

HsOpenSSL at this time seems only to support RSASSA-PKCS1v1.5 and HMAC (with all relevant digests).

What features and algorithms do you need?

If your company is willing to pay, please

[2022-06-15 12:43] frasertweedale commented on #39
Fixed:
[code]

Will go out in the next major release.

[2022-06-15 12:43] #39 closed

[2022-08-19 09:36] torgeirsh opened #109 "Obtain unverified payload?"
The documentation for the JWS type says "The payload can only be accessed by verifying the JWS." For certain test scenarios it would be useful to obtain the payload/ClaimsSet without verification. Could such a function be added, possibly with "unsafe" as part of the name?

[2022-08-19 11:26] frasertweedale commented on #109
Thanks for the query.  But I am not going to add that to the library.  If you really need it, you can decode the JSON yourself using *aeson* (or other JSON library) directly.

I could possibly be persuaded if you can explain in detail the scenario(s) where such an "escape hatch" would be of significant assistance.  "Certain test scenarios" is much too vague, I'm afraid.

[2022-08-19 13:45] torgeirsh commented on #109
I'm not sure I follow you on the JSON decoding part. The token I want to decode is a base64-like string. Do you mean implementing my own FromCompact instance? Since the library (probably rightfully) doesn't export the functionality used in its FromCompact instance for the JWS type, I would have to copy and paste the code into my application, but that might be feasible unless it depends on too much

[2022-08-19 14:26] frasertweedale commented on #109
Ah, you're using the compact representation.  Well then, just split on "." and base64url-decode the second part.  See https://datatracker.ietf.org/doc/html/rfc7515#section-3.1 for details.  That gives you a byte string.  Then you can use *aeson* to parse it into a `ClaimsSet`.

I don't think I comprehend your test scenario well enough to see what you are trying to do.

Regarding this:

Can you ple

[2022-08-19 15:14] torgeirsh commented on #109
Thank you for the information on manual decoding. Regarding the unsigned token, I generated it online using https://token.dev/ by setting algorithm to none.

[2022-08-19 20:47] frasertweedale commented on #109
@torgeirsh thanks.  The bug is at token.dev - they should put the trailing period in the token.  More accurately, the signature value of the "none" algorithm is the empty string.  RFC 7515 provides an example of an unsecured JWS and the second period is indeed present: https://datatracker.ietf.org/doc/html/rfc7515#appendix-A.5.

I'm going to close this issue now.

[2022-08-19 20:47] #109 closed

[2022-08-21 10:39] torgeirsh commented on #109
Good to know, thanks for looking into it!

[2022-08-31 22:41] parsonsmatt opened #110 "Hackage release?"
I'm going through our dependencies and noticed that we're depending on a Git revision for this, due to the orphan `MonadRandom` instance

I see that this commit was landed in April '22. Is there any help necessary to get a Hackage release for this?

[2022-09-01 03:58] frasertweedale commented on #110
There was a reason I held back from cutting a release.  But I no longer remember the reason.  So I'll just do it, in the next day or so.

[2022-09-01 06:52] #107 closed

[2022-09-01 12:45] frasertweedale commented on #110
Released: https://hackage.haskell.org/package/jose-0.10

[2022-09-01 12:45] #110 closed

[2022-09-01 15:51] parsonsmatt commented on #110
Thank you 🙌🏻